#header{
    background-image: url(/css/imgs/h.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 281px;
    width: 100%;
}

body{
    color: #fff;
    background: #131313;
}

menu{
    width: 1000px;
    letter-spacing: 1px;

}

li, ul{
    display: inline;
    list-style: none;
    background-color:#000;

}

a{
    text-decoration: none;
	color: inherit;
	font-family: Arial;
    text-transform: none;
}