/* Footer
---------------------------------------------------------------------- */
.fivehundredpx:before,


fivehundredpx i, .fivehundredpx:before { margin: 13px 0 0 11px; }
#top-bar .fivehundredpx i, #top-bar .fivehundredpx:before { margin: 11px 0 0 9px; }
.fivehundredpx:before { content: "\30"; top: 0; opacity:1; }
.fivehundredpx:hover:before { top: 30px; opacity: 0; }
.fivehundredpx:hover { background-color: #444; }
.the-team .fivehundredpx { background-color: #444; }


#footer {
	background: #333333;
	color: #b8b8b8;
	padding: 35px 0 40px 0;
	margin: 0;
}

#footer .headline {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background-color: #333;
	text-transform: none;
}

#footer .line { border-color: #484848; }

#footer a { color: #b8b8b8; }


/* Bottom Footer
------------------------------------- */
#footer-bottom {
	background: #2a2a2a;
	color: #b0b0b0;
	padding: 18px 0;
}

#footer-bottom a {
	color: #eee;
	font-weight: 600;
}

#footer-bottom a { color: #e0e0e0; }


/* Newsletter
------------------------------------- */
.newsletter-btn {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	float: right;
	z-index: 5;
	position: relative;
	padding: 12px;
	line-height: 18px;
	margin: 0;
	height: 44px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: #808080;
	border: none;
	color: #fff;
	box-shadow: none;
	margin-top: -44px;
}

.newsletter-btn:hover { background-color: #a0a0a0; }

input.newsletter {
	float: left;
	color: #808080;
	font-weight: 600;
	z-index: 1;
	position: relative;
	font-size: 13px;
	width: 85%;
	padding: 11px 16px;
	line-height: 18px;
	height: 20px;
	background-color: #3a3a3a;
	border: 1px solid #474747;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input.newsletter::-webkit-input-placeholder { color: #808080; }
input.newsletter:-moz-placeholder { color: #808080; }
input.newsletter::-moz-placeholder { color: #808080; }
input.newsletter:-ms-input-placeholder { color: #808080; }

input:focus.newsletter {
	background-color: #404040;
	border-color: #505050;
	color: #999;
}


/* Footer Links
------------------------------------- */
ul.footer-links { margin: 0 0 15px 0; }

.footer-links li a {
	padding: 0 0 8px 0;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

.footer-links li a:hover {
	color: #fff !important;
}

.footer-links li:before {
	font-family: "FontAwesome";
	font-size: 12px;
	content: "";
	color: #fff;
	position: relative;
	left: 0;
	top: -1px;
	padding: 0 7px 0 0;
	color: #fff;
}



/* ------------------------------------------------------------------- */