* {margin:0; padding: 0;}
html{ 
    position: relative;
    min-height: 100%;
}

body{
  margin: 0 0 150px;
}

#header{
    background-image: url('/mvc/css/imgs/h.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 400px;
    width: 100%;
}

#sidebar{
  margin-top:20px;
  width: 330px;
  float: right;
  background-color: #222222;
  height: 500px;
}

#fundo{
  background-color: #59d6e3;
}

#conteudo{
  position: relative;
  width: 1000px;
  margin: 0 auto;
  min-height:  100%;
}

#posts{
  margin-top:20px;
  float: left;
  background-color: #222222;
  width: 650px;
}


article{
  margin-top:10px;
  margin-left:10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#geral {
	min-height:100%;
	position:relative;
	width: 100%;
}

#footer{
  position: relative;
  height: 150px;
  background-color: #000;
  width: 100%;
  bottom:0px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #181818;
  background-image: url(/mvc/css/imgs/fundo.png);
}

ul, li{
  display: inline;
  font: Arial;
  color: #e7d78d;
}

a{
  color:#e7d78d;
  text-transform: uppercase;
  text-decoration: none;
}

.snip1189 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: #fff;
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  color: #e7cc50;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

h1{
  font-family: Arial;
  color: #FC5896;
  font-size: 30px;
  letter-spacing: 1px;
}
